:root {
    --primary-color: #598aba;
    --text-color: #34495E;
    --text-color-light: #536d6f;
    --secondary-color: #e8b384;
    --highlight-color: #e7d281;
    --background-color: #ECF0F1;
}

body {
    font-family: 'Roboto', sans-serif; 
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased; 
}

.header {
    background-color: var(--secondary-color);
    padding: 1.5em 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 2em;
}

.main__article__image {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    display: block;
    padding-left: 20em;
}

input, button {
    padding: 0.75em;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
}

button {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
}

/* Fade-in animation for sections */
#main-content section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#main-content section.active {
    opacity: 1;
}

.footer {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding: 1em 0;
    margin-top: 100px;
    text-align: center;
}

#forecast-container {
    display: flex;
    justify-content: space-around; /* Distributes items with space between */
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    overflow-x: auto; /* Ensures scrolling if needed on smaller screens */
}

.forecast-day {
    background-color: var(--highlight-color); /* Light background for each forecast box */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    text-align: center;
    width: 150px; /* Fixed width for each box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 0 10px; /* Spacing between forecast boxes */
    transition: transform 0.3s ease; /* Smooth scaling effect on hover */
}

.forecast-day:hover {
    transform: scale(1.05); /* Slightly enlarges the box on hover */
}

.forecast-day img {
    width: 50px; /* Adjusts the size of the weather icon */
    height: auto;
}

.forecast-day h3 {
    color: var(--primary-color);
    font-size: 16px;
    margin-bottom: 10px;
}

.forecast-day p {
    color: var(--text-color);
    font-size: 14px;
    margin-top: 5px;
}

